<!DOCTYPE html>
<html lang="en">

<%- include ../admin-file(css,js)/head %>

  <body class="nav-md">
    <div class="container body">

      <div class="main_container">

        <%- include ../partials/navigate/navbar-admin %>

          <%- include ../partials/header/header-admin %>

            <!-- page content -->
            <div class="right_col" role="main">
              <div class="">
                <div class="page-title">
                  <div class="title_left">
                    <h3>Sản phẩm <small>...</small></h3>
                  </div>

                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Từ khoá...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Tìm nào!</button>
                    </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="x_panel">
                 <div class="x_title">
                   <h2>Danh sách sản phẩm của <large><%= userN.User.Username %></large></h2>
                   <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                       <ul class="dropdown-menu" role="menu">
                         <li><a href="#">Settings 1</a>
                         </li>
                         <li><a href="#">Settings 2</a>
                         </li>
                       </ul>
                     </li>
                     <li><a class="close-link"><i class="fa fa-close"></i></a>
                     </li>
                   </ul>
                   <div class="clearfix"></div>
                 </div>
                 <div class="x_content">
                   <p class="text-muted font-13 m-b-30">
                     Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                   </p>

                   <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                     <thead>
                       <tr>
                         <th>Tên sản phẩm</th>
                         <th>Hình ảnh</th>
                         <th>Thông tin</th>
                         <th>Giá</th>
                         <th>Số lượng</th>
                         <th>Thương hiệu</th>
                         <th>Ngày đăng</th>
                         <th>Trạng thái</th>
                       </tr>
                     </thead>
                     <tbody>

                       <% list.forEach(function(spUser) {%>
                         <tr>
                           <td><%= spUser.Product_Name %></td>
                           <td><%= spUser.Img_Product %></td>
                           <td><%= spUser.Description %></td>
                           <td><%= spUser.Price %></td>
                           <td><%= spUser.Quantity %></td>
                           <td><%= spUser.Brand %></td>
                           <td><%= spUser.Create_at.toLocaleDateString() %></td>
                           <td><%= spUser.Enable %></td>
                         </tr>
                       <% }); %>
                     </tbody>
                   </table>


                 </div>
               </div>
             </div>

                </div>

              </div>
              <!-- /page content -->

            </div>

      </div>

      <%- include ../admin-file(css,js)/footer %>

  </body>

</html>
