<footer>
			<div id="footer-all">
				<div>
					<div class="foo-grids">
						<div class="col-md-6 footer-grid footer-top">
							<div class="col-sm-offset-3 col-sm-7">
								<!-- <a href="/"><img class="lazy-logo" style="max-width: 79%;" data-original="../images/chotot.png" alt="Logo"></a> -->
								<h4 class="footer-head">Liên hệ</h4>
								<span class="hq">Trụ sở chính</span>
								<address>
									<ul class="location">
										<li><span class="glyphicon glyphicon-map-marker"></span></li>
										<li>LẦU 7 VĂN PHÒNG KHOA CNTT Đại học Văn Lang</li>
										<div class="clearfix"></div>
									</ul>
									<ul class="location">
										<li><span class="glyphicon glyphicon-earphone"></span></li>
										<li>+0 561 111 235</li>
										<div class="clearfix"></div>
									</ul>
									<ul class="location">
										<li><span class="glyphicon glyphicon-envelope"></span></li>
										<li><a href="mailto:chototvlu@example.com">chototvlu@example.com</a></li>
										<div class="clearfix"></div>
									</ul>
								</address>
							</div>
						</div>
						<div class="col-md-6 footer-grid center">
							<div class="row"><div id="map" style="width:100%;height:48vh;"></div></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="footer-bottom text-center">
			<div class="container">
				<div class="footer-logo">
					<a id="logo_footer_page" href="<%=path%>"><span>Chợ Tốt</span>&nbsp;Văn Lang</a>
				</div>
				<div class="footer-social-icons">
					<ul>
						<li><a class="facebook" href="#"><span>Facebook</span></a></li>
						<li><a class="twitter" href="#"><span>Twitter</span></a></li>
						<li><a class="flickr" href="#"><span>Flickr</span></a></li>
						<li><a class="googleplus" href="#"><span>Google+</span></a></li>
						<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
					</ul>
				</div>
				<div class="copyrights">
					<p> © 2018 Chợ tốt Văn Lang. All Rights Reserved |&nbsp;<span id="Id_online"></span>&nbsp;| Design by  <a href="mailto:w.a.f-group@gmail.com"> W.A.F Group</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="text-center pull-right hello top hidden-xs" title="Lên TOP">
			<span>
					<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</span>
		</div>

		<% if(typeof (user) == 'undefined') { %>
			<!-- <div class="text-center pull-right hello caht" data-toggle="collapse" data-target="#chat" aria-expanded="true" title="Tính năng đang được phát triển">
				<span>
					<i class="fa fa-users" aria-hidden="true"></i>
				</span>
			</div> -->
		<% } else { %>
			<% if(!user.Admin.isAdmin) { %>
			<!-- <div class="text-center pull-right hello caht" data-toggle="collapse" data-target="#chat" aria-expanded="true" title="Tính năng đang được phát triển">
				<span>
					<i class="fa fa-users" aria-hidden="true"></i>
				</span>
			</div> -->
			<% } else { %>
				<div class="text-center pull-right hello">
					<a href="<%=path%>admin/dashboard">
						<span>
							<i class="fa fa-user-secret" aria-hidden="true"></i>
						</span>
					</a>
				</div>
			<% } %>
		<% } %>

		<div id="chat" class="col-sm-offset-8 col-sm-4 navbar-fixed-bottom collapse">
			<% if(user) { %>
				<input id="userCon" type="hidden" value="<%= user._id %>#<%= user.User.Username %>" size="1" readonly disabled>
				<% if(user.User.Status) { %>
				<div class="col-sm-12">
					<!-- <div class="panel panel-success">
						<div class="panel-heading" data-toggle="collapse" data-target="#chat" aria-expanded="false" style="cursor: pointer;">Chat
							<span class="pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
						</div>
						<div class="panel-body" style="padding-bottom: 0;">
							<div class="col-sm-3" style="height: 30vh; overflow-y: auto;">
								<div class="row" style="padding-right: 7px;">
									<div id="roomschat" class="contact-chat"></div>
								</div>
							</div>
							<div id="scroll-chat" class="col-sm-9" style="height: 30vh;overflow-y: auto;">
								<div id="chat-form">

								</div>
							</div>
						</div>
						<div class="panel-body" style="padding-top: 0;">
							<hr>
							<div id="wait"></div>
							<div class="input-group">
								<input type="text" id="mes--chat" class="form-control" placeholder="Chat ...">
								<div class="input-group-btn">
									<button class="btn btn-default" id="send-mes" type="button">
										<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</div> -->
				</div>
				<% } else { %>
					<div class="table-responsive well">
					  <table class="table table-bordered table-hover">
							<thead>
								 <tr>
									 <th colspan="2" class="text-danger">Tài khoản chưa được kích hoạt
									<span style="cursor: pointer;" data-toggle="collapse" data-target="#chat" aria-expanded="false" class="pull-right"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
									 </th>
								 </tr>
								 <tr>
									 <th colspan="2">Vui lòng liên hệ</th>
								 </tr>
							 </thead>
							 <tbody>
								 <tr>
									 <td>Email</td>
									 <td><a href="mailto:chototvlu@gmail.com">Chototvl@gmail.com</a></td>
								 </tr>
								 <tr>
									 <td>Số điện thoại</td>
									 <td>0909090909</td>
								 </tr>
								 <tr>
									 <td>VPK</td>
									 <td>LẦU 7 VĂN PHÒNG KHOA CNTT Đại học Văn Lang</td>
								 </tr>
							 </tbody>
					  </table>
					</div>
				<% } %>
			<% } else { %>
				<div class="pull-right col-sm-5 well">
					<a href="<%=path%>tai-khoan/dang-nhap">Vui lòng đăng nhập</a>
				</div>
			<% } %>

		</div>

</footer>
