<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta css info  -->
  <%- include ../partials(css-js)/head %>
</head>
<body>
  <%- include ../partials/Header %>

  <%- include ../Background/bg %>

    <!-- content-starts-here -->
    <div class="content">
      <div class="categories">
        <div class="container">
          <h2 id="categories--h2">Danh mục</h2>
          <% type.forEach(function(myType) { %>
            <div class="col-md-3 focus-grid">
              <a href="<%=path%>danh-muc/<%= myType._id %>">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="<%= myType.Icon %>"></i></div>
                    <h4 class="clrchg"><%= myType.Title %></h4>
                  </div>
                </div>
              </a>
            </div>
            <% }); %>
            <div class="clearfix"></div>
        </div>
      </div>
      <hr class="hidden-md hidden-lg hr">
      <div class="flex text-center hidden-xs hidden-sm">
        <img class="hoavan" src="/images/hoavan.png" alt="hoala">
        <img class="hoavan" src="/images/hoavan.png" alt="hoala">
      </div>
      <div class="trending-ads">
        <div class="container">
          <!-- slider -->
          <div class="trend-ads">
            <h2>Sản phẩm mới</h2>

            <ul id="new--product">
              <% for(var i = 0, qwe = products.length; i < parseInt(qwe/qwe); i++) {%>
                <li class="naem">
                  <% products.forEach(function(myPros) { %>
                    <div class="col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-6 col-md-3 biseller-column">
                      <a href="<%=path%>san-pham/chi-tiet-san-pham/<%= myPros._id %>">
                      <div class="lazy-product img-Product" data-original="<%= myPros.Url_clound %><%= myPros.Img_Product %>" title="<%= myPros.Product_Name %>"></div>
                      <span class="price"><%= myPros.Price %> ₫</span>

                      <div class="ad-info">
                        <h5><%= myPros.Product_Name %></h5>
                        <span class="text-dark"><%= myPros.Create_at.toLocaleDateString() %></span>
                      </div>
                    </a>

                    </div>
                    <% }); %>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="text-center" style="padding: 35px 0 0;"><a href="<%=path%>danh-muc/<%= one_type_id %>" class="btn btn-success">Xem thêm</a></div>
        </div>
        <!-- //slider -->
      </div>
    </div>
  <hr>
  <%- include ../partials/Footer %>

    <!-- js -->
    <%- include ../partials(css-js)/foot %>
</body>
</html>
